




<nav class="navbar nav-head">
			<div class="navbar-header">
				<ul class="nav">
					<h2 class="logo-title">SteelS CD</h2>

				</ul>
			</div>
			<div class="navbar-right">
				<div class="collapse navbar-collapse" id="nav-menu">
					<ul class="nav navbar-nav navbar-right">
						

						<% if user_signed_in? %>
							<li>
								<%= link_to "マイページ", user_path(current_user),class: "head-link"  %>
							</li>
							<li>
								<%= link_to "商品一覧",  items_path,class: "head-link" %>
							</li>
							<li>
								<%= link_to "カートに移動", carts_path,class: "head-link" %>
							</li>
							<li>
								<%= link_to "ログアウト", destroy_user_session_path, method: :delete,class: "head-link" %>
							</li>



						<% else %>
							<li>
								<a href="/items"><span></span> 商品一覧</a>
							</li>
							<li>
								<a href="/users/sign_up"><span></span> 新規登録</a>
							</li>
							<li>
								<a href="/users/sign_in"><span></span> ログイン</a>
							</li>
						<% end %>
					</ul>
				</div>
			</div>
</nav>