<h1>管理者ページ</h1>

<h3>受注一覧</h3>
<h3>入荷一覧</h3>
<%= link_to "ユーザー一覧", admins_users_path %>
          </li>
<h3>商品一覧</h3>
<%= link_to "管理者登録", new_admin_registration_path %>
          </li>
<h3></h3>
<%= link_to "ログアウト", destroy_admin_session_path, method: :delete %>
          </li>