<div class="container">
	<div class="row">

		<h2>購入が完了しました。</h2><br><br>

		<h4>お買い上げありがとうございました。商品の到着まで今暫くお待ちください。</h4><br><br>


		<%= link_to "商品一覧ページへ", items_path, class:"btn btn-primary" %>

	</div>
</div>