

<head>

	<link href="https://fonts.googleapis.com/css?family=Londrina+Shadow "rel="stylesheet">

	<link href="https://fonts.googleapis.com/css?family=M+PLUS+Rounded+1c" rel="stylesheet">

</head>

<body class="body-orderoption">

<div class="container">
	<div class="row">

		<div class="col-lg-3">
			<ruby>
			<rb class="item-detail1">CD</rb>
			<rt class="item-detail2">STEELS</rt>
			</ruby>

			  <p class="tagline">
			    <span class="tagline-skill"><span class="tagline-skill_inner">STEELS_CD</span></span>
			    <span class="tagline-skill"><span class="tagline-skill_inner">PURCHASE</span></span>
			  </p>

			  <div class="side-logo"></div>

		</div>

		<div class ="col-lg-9">

			<div class="finish-message">

				<p style= "font-size: 40pt;">購入が完了しました。</p><br><br>

				<h3>お買い上げありがとうございます。</h3>
				<h3>商品の到着まで今暫くお待ちください。</h3><br><br>

			</div>


			<%= link_to "商品一覧ページへ", items_path, class:"btn-black" %>

		</div>

	</div>
</div>

</body>