<div class="container">
	<div class="row">

<link href="https://fonts.googleapis.com/css?family=Permanent+Marker" rel="stylesheet">

<link href="https://fonts.googleapis.com/css?family=Homemade+Apple" rel="stylesheet">


<body>

	<div class= "main top_main">
		<div class = "top_wrapper">

					<div style= "background-image:url(<%= asset_path "top.jpg"%>)" />


					<h1 class="title">STEELS CD</h1>
					<%= image_tag "owner.jpg", class: "owner-image" %>

					<div class="message">
					<h2 class= "message-title">message</h2><br>
					<p class="message-body">
					このご時世、音楽配信も盛んで便利な世の中になっているだろう？<br>僕もたまにダウンロードして音楽を楽しむことがあるよ。<br><br>
					でも、CDにはCDの良さがあるし、これからも売り続けたいんだ。まず、CDはデータが圧縮されていないから音質が最高なんだよ。それに、CDならコレクションして楽しむこともできる。盤面のアートワークや歌詞カードの紙質なんかにも、アーティストのこだわりが随所に感じられて嬉しいんだ。<br><br>
				    手に入れて、封を開けて、プレイヤーに入れるまでのワクワク感は、CDならではだし、若い子たちにも知ってほしいなあ。</p>
				    <h4 class="message-end">  Owner</h4>
			</div>
		</div>
	</div>

	<footer>
	</footer>

</body>

</div>
</div>