// Place all the styles related to the admins controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.admins-box{
	background-color: #f4ffff;
}

.logo-title{
	color: white;
}

.item-page-logo{
	margin-left: 30px;
	height:60px;
}

.nav-head{
	background-color: black;
    height: 54px;
}

.head-link{
	color: white;
}

.navbar-right{
	width:550px;
}

