// Place all the styles related to the carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
	text-align :center;
}

.table {
	width: 800px;
}

.title-1 {
	width: 150px;
}

.title-2 {
	width: 150px;
}

.title-3 {
	width: 150x;
}

.title-4 {
	width: 200px;
}

.contents {
	padding: 20px;
	text-aligin: center;
}


.address-content {
	float: left;
	width: 200px; height: 200px;
	border: 1px solid #C0C0C0;
	padding: 10px;
	margin: 10px;
}

.payment-title {
	clear: both;
}

.payment {
	clear: both;
	border: 1px solid #C0C0C0;
	width: 200px; height: 80px;
	padding: 10px;
	margin: 10px;

}

.button {
	text-align: center;
}