// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.Profile{

	margin: 3%;
	width: 25%;
	min-height: 100%;
	float:left;
	border: 2px solid #000;
	text-align: center;
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
}

.mainclearfix{
	margin: auto;
  	clear: both;
  	text-align:center;
}
/*.Profile3{
	float: right;
}*/
/*.Profileclearfix{
	margin: auto;
  	clear: both;
  	text-align:center;
}*/
.Profile4{
	margin: 3%;
	min-height: 400px;
	text-align:center;
	float:left;
}
.col-sm-2{
	border: 3px solid #000;
}
.Profile5{
	text-align:center;
}

.first-container-item {
	float:left;
	margin: 3%;
}

.name-box{
	border-bottom: 2px solid black;
	border-top: 2px solid black;
	padding-top: 10px;
	padding-bottom: 10px;
}

.info-container-item {
	clear: both;
}

.song-information {
	border: 1px solid #CCCCCC;
	padding: 3%;
}

.info-song-title {
	color: #808080;
}

.btn-black {
  position: relative;
  display: inline-block;
  padding: 0.25em 0.5em;
  text-decoration: none;
  color: #FFF;
  background: black;/*色*/
  border-radius: 4px;
  box-shadow: inset 0 1px 0 rgba(255,255,255,0.2);
  text-shadow: 0 1px 0 rgba(0,0,0,0.2);
}

.btn-white {
  display: inline-block;
  padding: 0.3em 1em;
  text-decoration: none;
  color: black;
  border: solid 2px black;
  border-radius: 3px;
  transition: .4s;
}
