// Place all the styles related to the items controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




.Profile{

	margin: 3%;
	width: 25%;
	min-height: 100%;
	float:left;
	border: 2px solid #000;
	text-align: center;
	display: flex;
	flex-direction:row;
	flex-wrap: wrap;
}

.mainclearfix{
	margin: auto;
  	clear: both;
  	text-align:center;
}
/*.Profile3{
	float: right;
}*/
/*.Profileclearfix{
	margin: auto;
  	clear: both;
  	text-align:center;
}*/
.Profile4{
	margin: 3%;
	min-height: 400px;
	text-align:center;
	float:left;
}
.col-sm-2{
	border: 3px solid #000;
}
.Profile5{
	text-align:center;
}

.first-container {
	text-align: center;
}

.first-container-item {
	display:inline-block;
	text-align: left;
}

.info-container {
	text-align: center;
}

.info-container-item {
	display:inline-block;
	text-align: left;
}
