// Place all the styles related to the order_options controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.finish-message {
	font-family: "M PLUS Rounded 1c";
}

.side-logo{
  background-image: url(LOGO/logo2.png);
  background-repeat: no-repeat;
  width: 200px;
  height: 80px;
  margin: 80px auto;
}

.body-orderoption{
  background-color: #f4ffff;
}