// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html{
	background-color: #e8e8e8;
}

.body-sign{
	background-color: #e8e8e8;
}

.in_box{
	border: solid white;
	width: 400px;
	height: auto;
	margin:  auto;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: white;
	box-shadow:0px 0px 10px;
	border-radius:10px;
}
.in_box_text{
	text-align: center;
	margin-bottom: 40px;
}

.logo{
	background-image: url(LOGO/logo2.png);
	width: 160px;
	height: 73px;
	margin: auto;
	margin-top: 50px;
}


.email-box{
	margin-top: 40px;
	color: #666666;
}
.email_field{
	width: 250px;
    border: none;
    border-bottom: 1px solid #666666;
}
.password-box{
	margin-top: 40px;
	color: #666666;
}
.pass_field{
	width: 250px;
	border: none;
	border-bottom: 1px solid #666666
}
.remem-field{
	margin-top: 40px;
	color: #666666;
}

.btn-orig{
	margin-top: 40px;
	margin-bottom: 40px;
	background: black;
	color: white;
	width: 200px;
	border: solid black;
	border-radius: 3px;
}
.link-in-field-text{
	color: #666666;
	margin-bottom: 20px;
}

.link-in-field{
	color: black;
	margin-bottom: 30px;
}
/*sign-up from here*/

.up-box{
	margin:auto;
	padding-top: 50px;
	margin-top: 50px;
	padding-bottom: 50px;
	width: 400px;
	height: auto;
	background-color: white;
    box-shadow:0px 0px 10px;
	border-radius:10px;
	margin-bottom: 50px;
}
.logo-up{
	background-image: url(LOGO/logo2.png);
	width: 160px;
	height: 73px;
	margin: auto;
}

.family_name_field{
	display: inline-block;
	text-align:center;
	width: 50%;
	color: #666666;
	margin-top: 20px;
}
.first_name_field{
	width: 50%;
	float: right;
	text-align:center;
	color: #666666;
	margin-top: 20px;
}


.family_kana_field{
	display: inline-block;
	width: 50%;
	text-align: center;
	color: #666666;

	margin-top: 20px;
}

.first_kana_field{
	width: 50%;
	float: right;
	text-align: center;
	color: #666666;
	margin-top: 20px;
}

.post_code_field{
	margin-left: 24px;
	color: #666666;
	margin-top: 20px;
}

.address_field{
	margin-left: 24px;
	width: 352px;
	margin-top: 20px;
}
.phone_field{
	margin-left: 24px;
	width: 352px;
	margin-top: 20px;
}
.email_up_field{
	margin-left: 24px;
	width: 352px;
	margin-top: 20px;
}
.password_up_field{
	margin-left: 24px;
	width: 352px;
	margin-top: 20px;
}
.password_c_up_field{
	margin-left: 24px;
	width: 352px;
	margin-top: 20px;
}
.actions_up{
	text-align:center;
	margin-top: 20px;
}
.btn-orig-up{
	margin-top: 20px;
	background: black;
	color: white;
	width: 200px;
	border: solid black;
	border-radius: 3px;
	margin-bottom: 40px;
}
.link-up-field-text{
	text-align: center;
	color: #666666;
	margin-bottom: 20px;
}
.link-up-field{
	text-align: center;
	color: black;
	margin-left: 178.6px;
	margin-bottom: 40px;
}

