// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.body-sign{
	background-color: #f4ffff;
	padding: 50px;
}

.in_box{
	border: solid white;
	width: 400px;
	height: auto;
	margin:  auto;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: white;
	box-shadow:0px 0px 10px;
	border-radius:10px;
}
.in_box_text{
	text-align: center;
	margin-bottom: 40px;
}

.logo{
	background-image: url(LOGO/logo2.png);
	width: 160px;
	height: 73px;
	margin: auto;
	margin-top: 50px;
}


.email-box{
	margin-top: 40px;
	color: #666666;
}
.email_field{
	width: 250px;
    border: none;
    border-bottom: 1px solid #666666;
}
.password-box{
	margin-top: 40px;
	color: #666666;
}
.pass_field{
	width: 250px;
	border: none;
	border-bottom: 1px solid #666666
}
.remem-field{
	margin-top: 40px;
	color: #666666;
}

.btn-orig{
	margin-top: 40px;
	margin-bottom: 40px;
	background: black;
	color: white;
	width: 200px;
	border: solid black;
	border-radius: 3px;
}
.link-in-field-text{
	color: #666666;
	margin-bottom: 20px;
}

.link-in-field{
	color: black;
	margin-bottom: 30px;
}
/*sign-up from here*/

.up-box{
	margin:auto;
	padding-top: 50px;
	margin-top: 50px;
	padding-bottom: 50px;
	width: 400px;
	height: auto;
	background-color: white;
    box-shadow:0px 0px 10px;
	border-radius:10px;
	margin-bottom: 50px;
}
.logo-up{
	background-image: url(LOGO/logo2.png);
	width: 160px;
	height: 73px;
	margin: auto;
}

.family_name_field{
	display: inline-block;
	text-align:center;
	width: 50%;
	color: #666666;
	margin-top: 25px;
}
.family_name_up_field{
	border:none;
	border-bottom: solid 1px;
	border-color:  #666666;
}

.first_name_field{
	width: 50%;
	float: right;
	text-align:center;
	color: #666666;
	margin-top: 25px;
}
.first_name_up_field{
	border:none;
	border-bottom: solid 1px;
	border-color:  #666666;
}


.family_kana_field{
	display: inline-block;
	width: 50%;
	text-align: center;
	color: #666666;
	margin-top: 25px;
}
.family_kana_up_field{
	border:none;
	border-bottom: solid 1px;
	border-color:  #666666;
}

.first_kana_field{
	width: 50%;
	float: right;
	text-align: center;
	color: #666666;
	margin-top: 25px;
}
.first_kana_up_field{
	border:none;
	border-bottom: solid 1px;
	border-color:  #666666;
}

.post_code_field{
	color: #666666;
	margin-top: 25px;
	text-align:center;
}
.post_code_up_field{
	border:none;
	border-bottom: solid 1px;
	width: 250px;
	border-color:  #666666;
}

.address_field{
	margin-left: 24px;
	width: 352px;
	margin-top: 25px;
	text-align:center;
	color: #666666;
}
.address_up_field{
	border:none;
	border-bottom: solid 1px;
	width: 250px;
	border-color:  #666666;
}
.phone_field{
	margin-left: 24px;
	width: 352px;
	margin-top: 25px;
	text-align:center;
	color: #666666;
}
.phone_up_field{
	border:none;
	border-bottom: solid 1px;
	width: 250px;
	border-color: #666666;
}
.email_up_field{
	margin-top: 25px;
	text-align:center;
	color: #666666;
}
.email_sign_up_field{
	border:none;
	border-bottom: solid 1px;
	width: 250px;
	border-color:  #666666;
}
.password_up_field{
	margin-left: 24px;
	width: 352px;
	margin-top: 25px;
	text-align:center;
	color: #666666;
}
.new_password_sign_up_field{
	border:none;
	border-bottom: solid 1px;
	width: 250px;
	border-color:  #666666;
}
.password_c_up_field{
	margin-left: 24px;
	width: 352px;
	margin-top: 25px;
	text-align:center;
	color: #666666;
}
.password_c_sign_up_field{
	border:none;
	border-bottom: solid 1px;
	width: 250px;
	border-color:  #666666;
}
.actions_up{
	text-align:center;
	margin-top: 25px;
}
.btn-orig-up{
	margin-top: 25px;
	background: black;
	color: white;
	width: 200px;
	border: solid black;
	border-radius: 3px;
	margin-bottom: 40px;
}
.link-up-field-text{
	text-align: center;
	color: #666666;
	margin-bottom: 20px;
}
.link-up-field{
	text-align: center;
	color: black;
	margin-left: 178.6px;
	margin-bottom: 40px;
}

/*my page from here*/

.my_page_box{
	border: solid white;
	width: 400px;
	height: auto;
	margin:  auto;
	margin-top: 50px;
	margin-bottom: 50px;
	background-color: white;
	box-shadow:0px 0px 10px;
	border-radius:10px;
}
.logo_my_page{
	background-image: url(LOGO/logo_my_page4.png);
	width: 120px;
	height: 71px;
	margin: auto;
	margin-top: 30px;
}
.my_family_name{
	display: inline-block;
	text-align:right;
	width: 50%;
	color: #666666;
	margin-top: 25px;
}
.my_first_name{
	width: 50%;
	float: right;
	text-align:left;
	color: #666666;
	margin-top: 25px;
}
.my_family_kana{
	display: inline-block;
	text-align:right;
	width: 50%;
	color: #666666;
	margin-top: 25px;
}
.my_first_kana{
	width: 50%;
	float: right;
	text-align:left;
	color: #666666;
	margin-top: 25px;
}
.my_post_code{
	text-align: center;
	margin-top: 25px;
	color: #666666;
}
.my_address {
    text-align: center;
    margin: 25px auto;
    color: #666666;
    width: 300px;
}
.my_phone{
	text-align: center;
	margin-top: 25px;
	color: #666666;
}
.my_email{
	text-align: center;
	margin-top: 25px;
	color: #666666;
}
.my_address_btn {
    margin-top: 25px;
    text-align: center;
    color: white;
    border-radius: 3px;
    border: white;
    background-color: black;
    margin-left: 100px;
    width: 200px;
}
.my_edit_btn{
	float: left;
    margin-top: 25px;
    text-align: center;
    color: #666666;
    border-radius: 3px;
    border: white;
    background-color: white;
    width: 50%;
}
.my_order_btn{
	float: right;
    margin-top: 25px;
    text-align: center;
    color: #666666;
    border-radius: 3px;
    border: white;
    background-color: white;
    width: 50%;
}
.my_logout_btn{
    margin-top: 25px;
    text-align: center;
    color: white;
    border-radius: 3px;
    border: white;
    background-color: black;
    margin-left: 100px;
    width: 200px;
    margin-bottom: 50px;
}

/*退会画面from here*/

